@media only screen and (max-width: 768px) {
    // GENERAL
    .menu-top {
        padding-top: 50px;
        padding-bottom: 50px;
        position: relative;
        height: 100%;
        justify-content: center;

        &:before {
            content: "";
            left: 0;
            top: 120px;
            width: 100%;
            height: 2px;
            background-color: #000;
            position: absolute;
        }

        a {
            font-size: 56px;
            margin: 0 0 60px;
            color: #000 !important;
        }

        .block-subtitle.black {
            display: block;
            position: absolute;
            bottom: 50px;
            right: 0;

            h1 {
                margin: 0;
            }
        }
    }

    #open-menu,
    #close-menu  {
        display: block;
    }

    .show-menu{
        header {
            opacity: 1;
        }
    }

    .overlay {
        header {
            z-index: 100;
        }
    }

    .logo-mobile {
        position: absolute;
        left: 50%;
        top: 40px;
        transform: translateX(-50%);
        display: inline-block;
        z-index: 10;
    }

    .mobile-menu {
        display: block;
    }

    .slide--text h1 {
        font-weight: 500;
    }

    .control-item {
        top: 25%;

        &.control-prev,
        &.control-next {
            margin: 0;
        }

        &.control-prev {
            left: -215px;
        }

        &.control-next {
            right: -215px;
        }
    }

    // ABOUT
    .team-container {
        flex-direction: column;
    }

    .team--image {
        display: none !important;
    }

    .team--list {
        position: relative;
        padding-top: 0;
        left: auto;
        top: auto;
        margin-top: 60px;
        height: auto;
        overflow: visible;
        margin-left: 105px;
        right: 0;
    }

    .team-member a {
        margin-left: 0;
    }

    .team-member h2 {
        font-weight: 400;
    }

    .team-member{
        margin-left: -30px;
    }

    // MEMBER
    .popup--bg {
        left: auto;
        width: 75%;
    }

    .popup--container {
        flex-direction: column;
    }

    .popup-top--info {
        position: relative;
        // max-width: 100%;
    }

    .popup--sidebar {
        max-width: 100%;
    }

    .popup--content {
        max-width: 100%;
    }

    .popup-top--skills  {
        .btn-wrap {
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    .info--name {
        margin-bottom: 40px;
    }

    .popup-software {
        flex-direction: column;
    }

    .software--title {
        position: relative;
        left: 0;
        margin-bottom: 30px;
    }

    .software {
        order: 2;
        margin-top: 50px;
    }

    .experience {
        order: 1;
    }

    .popup--container {
        margin-bottom: 70px;
    }

    // CONTACT
    .contact-container {
        flex-direction: column;
        align-items: center;
    }

    .contact-item {
        text-align: center;
    }

    .contact-york {
        margin-bottom: 90px;
    }

    .contact--images .item-image {
        opacity: 1 !important;
    }

    .contact--images {
        .image-york {
            transform: rotate(-90deg) !important;
            right: -10px;
            left: auto;
            bottom: 520px;
            width: 237px !important;
            height: 229px !important;
        }

        .image-moscow {
            right: auto;
            width: 264px !important;
            height: 248px !important;
            left: -20px;
            bottom: 220px !important;
            transform: scaleX(-1) rotate(-90deg) !important;
        }
    }


    .contact--text,
    .contact--title {
        transform: none !important;
    }

    // GAMES
    .cWrapper {
        width: 100% !important;
        height: auto !important;
        flex-wrap: wrap;
    }

    .carousel {
        height: auto !important;
    }

    .item {
        width: 50% !important;
        height: auto !important;
        margin-bottom: 55px !important;

        a {
            height: 170px;
        }
    }

    .item--info {
        padding: 30px 0 0 0;
    }

    .item--name {
        margin-bottom: 13px;
    }

    // GAME
    .hero-container {
        max-width: 100%;
        padding: 0 75px;
    }

    .hero {
        position: relative;
        margin-top: -98px;
    }

    .game-container {
        max-width: 100%;
        padding: 0 75px;
    }

    .game-container.tablet-full {
        flex-direction: column;

        .game--text {
            max-width: 100%;
        }
    }

    .game-container.between {
        justify-content: space-between;
        flex-direction: column;

        .game--sidebar {
            width: 100%;
            max-width: 100%;
        }

        .block--text {
            max-width: 100%;
        }
    }

    .block--top {
        text-align: center;
        width: 100%;
    }

    // outsource
    .outsource {
        .item {
            height: 216px !important;
            margin-bottom: 0 !important;
        }
    }
}

@media only screen and (max-width: 414px) {
    // GENERAL
    // MENU
    .menu-top a {
        font-size: 26px;
    }

    .menu-top:before {
        top: 95px;
    }

    header .container {
        padding: 0 35px;
    }

    .slide--text {
        top: 50%;
    }

    #open-menu {
        left: 35px;
    }

    // HOME
    .slide--text h1 {
        font-size: 42px;
        font-weight: 600;
    }

    .slide--bottom {
        margin-top: 43px;
        flex-direction: column;
        align-items: center;
    }

    .slide--btn {
        a:last-child{
            margin-bottom: 50px;
        }
    }

    .control-item.control-next {
        right: -260px;
    }

    .control-item.control-prev {
        left: -260px;
    }

    // ABOUT
    .team-member p {
        margin-left: 3px;
        margin-top: 2px;
    }

    #member-popup .block-title {
        margin-top: 60px;
    }

    .team--list {
        margin-left: 0;
    }

    .team-member {
        margin-left: 0;
    }

    .team-member h2 {
        font-size: 26px;
        font-weight: 400;
    }

    // MEMBER
    #member-popup {
        padding: 45px 35px;
    }

    .popup--wrap {
        .container {
            padding: 0;
        }
    }

    .popup-top--skills .btn-wrap {
        top: 130px;
    }

    .member-popup--bg {
        left: -30%;
        top: auto;
        bottom: 0;
        width: 110%;
        transform: none;
    }

    .experience--time {
        max-width: 105px;
        text-align: right;
    }

    .experience--name {
        font-size: 18px;
        line-height: 1;
    }

    // CONTACT
    .contact--images {
        display: none;
    }

    .contact-item.contact-moscow {
        margin-bottom: 90px;
    }

    .contact-item h3 {
        font-size: 42px;
        margin-bottom: 32px;
    }

    // GAMES
    .slider-games--header {
        flex-direction: column;
        align-items: flex-start;
    }

    .slider-games--filter {
        margin-bottom: 40px;
    }

    .item {
        width: 100% !important;
    }

    // GAME
    .hero-container {
        max-width: 100%;
        padding: 0 35px;
    }

    .game-container {
        max-width: 100%;
        padding: 0 35px;
    }

    .game-container.mobile-full {
        flex-direction: column;

        .game--text {
            max-width: 100%;
        }

        .game--sidebar {
            max-width: 100%;
            margin-bottom: 60px;
        }
    }

    .block-title h2 {
        font-size: 26px;
        line-height: 29px;
        letter-spacing: -0.033em;
        font-weight: 400;
    }

    .block--bottom {
        flex-direction: column;
        text-align: center;
    }

    .block--footer .block-subtitle {
        margin-bottom: 40px;
    }

    .team--control {
        display: block;
        margin-right: 30px;
        text-align: right;

        a:last-child {
            margin-left: 90px;
        }

        button:last-child {
            margin-left: 65px;
        }
    }

    // BLOG
    .blog--list {
        margin-top: 150px;
    }

    .article--header time {
        position: relative;
        left: 0;
        top: 0;
        order: 1;
    }

    .article--header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
    }

    .article a {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
    }

    .article p {
        max-width: 225px;
    }

    .article h2 {
        order: 2;
        max-width: 225px;
    }

    // ARTICLE
    .article {
        p {
            max-width: 100%;
        }

        .block-subtitle.black {
            margin-bottom: 50px;
        }
    }

    // OUTSOURCE
    .slider-games--filter {
        display: flex;
        align-items: flex-start;
        margin-bottom: 0;
        width: 100%;
        flex-wrap: wrap;
    }

    .category-switch {
        margin: 0 0 20px;
        width: 50%;
    }
}
