@import './normalize';
@import './typography';

body {
    font-family: IBM Plex Mono, sans-serif;
    min-height: 100vh;
    background: #fafafa;

    * {
        box-sizing: border-box;
    }
}

.container {
    width: 100%;
    max-width: 1330px;
    padding: 0 15px;
    margin: 0 auto;
}

.container--entry {
    max-width: 1170px;
    margin: 0 auto;
}

.app-content {
    .container {
        max-width: 1030px;
    }
}

.app-content>div>.container {
    opacity: 1;
    transition: opacity .6s ease-in;

    &.hide {
        opacity: 0;
    }
}

header {
    opacity: 1;
    transition: opacity .6s ease-in;

    &.hide {
        opacity: 0;
    }
}

img {
    margin: 0;
    max-width: 100%;
}

.app-content>div:not(.slider) {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
}

#page:not(.home) {
    .app-content {
        // margin-top: 98px;
    }
}

.align-right {
    display: flex;
    justify-content: flex-end;
}

.align-left {
    text-align: left;
}

.hidden {
    opacity: 0;

    &.control-prev {
        left: -100% !important;
    }

    &.control-next {
        right: -100% !important;
    }
}

.vertical-center {
    align-items: center;
}

#close-menu {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    position: absolute;
    left: 0;
    top: 40px;
    cursor: pointer;
    outline: none;
    z-index: 99;
    display: none;
}

#open-menu {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    position: absolute;
    left: 75px;
    top: 40px;
    cursor: pointer;
    outline: none;
    display: none;
    z-index: 99;

    svg {
        fill: #000;
    }
}

.logo-mobile {
    display: none;
}
